body{
    background-color: aquamarine;
}
h1{
    color:orangered;
}
div{
    margin: 4px;
}
photo{
    border:3px solid greenyellow;
    border-radius:50%;
}
.circular-image{
    border-radius: 50%; 
    height:auto;
    width:200px;
}
body{
    min-height: 5px;
    background-image: url("lemon.JPG");
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    text-align: left;
    color:black; background-attachment:fixed;
}